.git
.gitignore
README.md
Dockerfile
Dockerfile.prod
.dockerignore
.env*
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
db.sqlite3
.coverage
.pytest_cache/
.tox/
.cache
node_modules/
.DS_Store
.vscode/
.idea/
_site/
assets/
